.main {
  padding: 10px;
  display: flex;
  justify-content: end;
  .table-container {
    //width: 100%;


    span {
      font-weight: bold;
      font-size: 18px;
    }

    .title {
      text-align: center;
    }
  }
}
