.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0e2439;
  color: #9cb3c9;
  //background: linear-gradient(45deg, #30cfd0, #330867);

}
