.main {
  //height: 526px;
  display: flex;
  overflow: auto;
  width: 550px;

  .users-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }

  .users-table-cell {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .search-bar {
    margin-bottom: 20px;
  }
}


